{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^node:",
    "^express$",
    "^sequelize$",
    "<THIRD_PARTY_MODULES>",
    "^[./]"
  ],
  "importOrderSeparateGroups": true,
  "importOrderCaseInsensitive": true,
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 80,
  "parser": "typescript"
}
